* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.logo {
    width: 200px;
    padding: 4em 0;
    position: relative;
    right: 8em;
}

.img-mobile {
    display: none;
}

.img-desktop {
    min-height: 100vh;
}


.main-container {
    display: flex;
    min-width: 100vw;
    font-family: 'Josefin Sans', sans-serif;
    color: hsl(0, 6%, 24%);
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
}



.head {
    padding-top: 1em;
    font-weight: 600;
    font-size: 5em;
    letter-spacing: .2em;
}

.head-accent {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.text {
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    font-weight: 400;
    max-width: 450px;
    padding: 2em 0;
    line-height: 1.8em;
}

.form-email{
    padding: 1em;
    margin-left: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-email input{
    height: 4em;
    width: 100%;
    max-width: 28em;
    border-radius: 25px;
    border: 1px solid hsl(0, 36%, 70%);
    padding-left: 2em;
    font-family: 'Josefin Sans', sans-serif;;
}

.form-email input:focus {
    outline-color: hsl(0, 36%, 70%);
}

.form-email button{
    position: relative;
    height: 4em;
    width: 120px;
    right: 4em;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0 1.2em 2em 0 hsl(0, 36%, 75%);
    cursor: pointer;
}

.error-icon {
    display: none;
    position: relative;
    top: 15px;
    right: 75px;
    width: 25px;
    height: 25px;
}

.error-text {
    display: none;
    position: relative;
    bottom: 5px;
    left: 10px;
    color: hsl(0, 80%, 65%);
}





@media (max-width: 1200px) {
    .main-container{
        min-width: 100vw;
        overflow: hidden;
    }
    .content-container{
        min-height: 100vh;
    }
    .img-desktop {
        display: none;
    }
    .img-mobile{
        display: block;
    }
    .logo{
        margin-left: 2em;
        padding: 2em 0;
        width: 150px;
    }
    .head{
        text-align: center;
        font-size: 3em;
    }
    .text{
        text-align: center;
        padding: 2em 2em;
    }
    .form-email{
        padding-left: 3em;
    }  
    
    .form-email button {
        width: 80px;
    }
    .error-text{
        left: 58px;
    }
}